html {
  font-family: "Montserrat", sans-serif;
}

.web-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(45deg, #00aeff, #0072dd); /* Add the linear gradient */
  padding: 0.4rem;
}


footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.title-resources h3,
.title-pricing h3,
.title-company h3,
.title-social h3 {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: justify;
  justify-content: center;
}

.comp-logo {
  align-self: flex-start;
}

.comp-logo img {
  max-width: 250px;
  height: auto;
  padding: 20px;
  margin-bottom: 20px;
}

.info-col-resources ul,
.info-col-pricing ul,
.info-col-company ul,
.info-col-social ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info-col-resources ul li,
.info-col-pricing ul li,
.info-col-company ul li,
.info-col-social ul li {
  margin-bottom: 0.5rem;
}

.info-col-resources a,
.info-col-pricing a,
.info-col-company a,
.info-col-social a {
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

.info-col-resources a::after,
.info-col-pricing a::after,
.info-col-company a::after,
.info-col-social a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  bottom: -2px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s ease;
}

.info-col-resources a:hover::after,
.info-col-pricing a:hover::after,
.info-col-company a:hover::after,
.info-col-social a:hover::after {
  transform: scaleX(1);
}

.web-email-sub-button label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.web-email-sub-button {
  text-align: center;
  padding-bottom: 20px;
}

.web-email-sub-button input[type="email"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: border-color 0.3s ease;
}

.web-email-sub-button input[type="email"]::placeholder {
  transition: opacity 0.3s ease;
}

.web-email-sub-button button[type="submit"] {
  padding: 10px 20px;
  background-color: #02294d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 500;
}

.web-email-sub-button button[type="submit"]:hover {
  background-color: #000000;
  font-weight: 500;
}

footer .copyright {
  margin-top: 10px;
  color: #ffffff;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Media Query for Responsive Footer */
@media screen and (max-width: 768px) {
  .comp-logo img {
    max-width: 250px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .info-col-resources,
  .info-col-pricing,
  .info-col-company,
  .info-col-social {
    flex-basis: 50%;
  }

  .web-email-sub-button {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 480px) {
  .comp-logo img {
    max-width: 150px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .title-resources h3,
  .title-pricing h3,
  .title-company h3,
  .title-social h3 {
    font-size: 16px;
  }

  .info-col-resources,
  .info-col-pricing,
  .info-col-company,
  .info-col-social {
    flex-basis: 100%;
  }
}